ul{
    display: flex;
    

}
button{
    margin-left: 50px;
    width: 100px;
    height: 30px;
    background-color: #7197e9;
    color: white;
    border: 1px solid #7197e9;
    border-radius: 5px;
    margin-bottom: 5px;
}
.contact{
    font-size: 28px;
    padding-left: 100px;
    margin-top: 10px;

}
